body{
    background-image: url('/img/swirl_pattern.png');
    font-size: 16px;
}
.small {
    font-size: 75%;
}

.azure{
    background-color: azure;
}

.magenta{
    background-color: rgba(255, 0, 144, 0.81);
}

.search-btn{
    margin-top: 25px;
    padding: 7px 75px 7px;
}


.v_radio{
    margin-left: 60px;
    float: none;
}

.page-header{
    border-bottom: 1px solid magenta;
}

body { 
    padding-top: 70px; 
}
